#header{
	// background-image: url('https://s3.amazonaws.com/myfangate.com/realfriends16/band-photo-web.jpg');
  background-color: black;
}
#preorders{
	background-color: #b06738;
}
#contest{
	background-image: url('https://s3.amazonaws.com/myfangate.com/realfriends16/RF_Hallway2.jpg');
}
#video{
	background-color: #b06738;
}
#socials{
	background-image: url('');
}
