#header{
	// background-image: url('https://s3.amazonaws.com/myfangate.com/realfriends16/band-photo-web.jpg');
  background-color: black;
}
#preorders{
	background-color: black;
  .container{
    position: relative;
    z-index: 10;
  }
}
#contest{
  background-color: black;
  .container{
    position: relative;
    z-index: 10;
  }
}
#video{
  background-color: black;
  .container{
    position: relative;
    z-index: 10;
  }
}
#socials{
  background-color: black;
  .container{
    position: relative;
    z-index: 10;
  }
}
