// INITIALIZE FONT
@font-face {
    font-family: 'helveticabold';
    src: url('../fonts/helvetica-bold-webfont.eot');
    src: url('../fonts/helvetica-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica-bold-webfont.woff2') format('woff2'),
         url('../fonts/helvetica-bold-webfont.woff') format('woff'),
         url('../fonts/helvetica-bold-webfont.ttf') format('truetype'),
         url('../fonts/helvetica-bold-webfont.svg#helveticabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

.wood{
  opacity: 0.6;
}

h1,h2,h3,h4,h5,h6{
  margin: 0 auto !important;
  letter-spacing: 0.3rem;
}

.text-shadow{
  text-shadow: 0px 0px 6px rgba(0,0,0,0.6);
}

.cta{
  margin-top: 5% !important;
  @extend .text-shadow;
}

.parallax-container{
  height: inherit;
}

.parallax{
  z-index: 0;
}

#header .container{
  z-index: 9999;
  position: relative;
}

.logo{
  margin-bottom: -7%;
  z-index: 9999;
  position: relative;
  -ms-transform: rotate(1deg);
  -webkit-transform: rotate(1deg);
  transform: rotate(1deg);
  margin-top: -4%;
}

.album-mini{
  z-index: 9999;
  position: relative;
}

.polaroid-wrapper{
    perspective: 1000px;
}

.polaroid-img{
  -ms-transform: rotate(-6deg);
  -webkit-transform: rotate(-6deg);
  transform: rotate(-6deg);
  margin-bottom: -40%;
  z-index: 2;
}

.row{
  padding-bottom: 20px;
  margin-bottom: 0;
}

.full-w{
	width: 100%;
}

.uppercase{
	text-transform: uppercase;
}

// SET FONT
body{
	h1,h2,h3,h4,h5,h6,p{
	    font-family: 'helveticabold';
	}
}

// MEDIA QUERIES
@media #{$small-and-down} {
	h5{
		font-size: 10px;
	}
	h6{
		font-size: 10px
	}
	p{
		font-size: 8px
	}
}
@media #{$medium-and-up} {
	h5{
		font-size: 15px;
	}
	p{
		font-size: 12px
	}
}

// @media #{$medium-and-down} {
// 	h5{

// 	}
// 	p{

// 	}
// }
@media #{$large-and-up} {
	h5{
	   font-size: 20px;
	}
	p{
		font-size: 15px
	}
}


footer.page-footer {
  margin-top: 0 !important;
}
