// INITIALIZE FONT
@font-face {
    font-family: 'helveticabold';
    src: url('../fonts/helvetica-bold-webfont.eot');
    src: url('../fonts/helvetica-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica-bold-webfont.woff2') format('woff2'),
         url('../fonts/helvetica-bold-webfont.woff') format('woff'),
         url('../fonts/helvetica-bold-webfont.ttf') format('truetype'),
         url('../fonts/helvetica-bold-webfont.svg#helveticabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

.wood{
  opacity: 0.6;
}

h1,h2,h3,h4,h5,h6{
  margin: 0 auto !important;
  letter-spacing: 0.3rem;
}

.text-shadow{
  text-shadow: 0px 0px 6px rgba(0,0,0,0.6);
}

.cta{
  margin-top: 5% !important;
  @extend .text-shadow;
}

.parallax-container{
  height: inherit;
}

.parallax{
  z-index: 0;
}

#header .container{
  z-index: 9999;
  position: relative;
}

.logo{
  margin-bottom: -7%;
  z-index: 9999;
  position: relative;
  -ms-transform: rotate(1deg);
  -webkit-transform: rotate(1deg);
  transform: rotate(1deg);
  margin-top: -4%;
}

.album-mini{
  z-index: 9999;
  position: relative;
}

.polaroid-wrapper{
    perspective: 1000px;
}

.polaroid-img{
  -ms-transform: rotate(-6deg);
  -webkit-transform: rotate(-6deg);
  transform: rotate(-6deg);
  margin-bottom: -40%;
  z-index: 2;
}

.row{
  padding-bottom: 20px;
  margin-bottom: 0;
}

.full-w{
	width: 100%;
}

.uppercase{
	text-transform: uppercase;
}

// SET FONT
body{
	h1,h2,h3,h4,h5,h6,p{
	    font-family: 'helveticabold';
	}
}

// MEDIA QUERIES
@media (max-width: 1127px){
  .available-now h3{
    font-size: 25px;
  }
}

@media #{$small-and-down} {
	h5{
		font-size: 10px;
	}
	h6{
		font-size: 10px
	}
	p{
		font-size: 8px
	}
}
@media #{$medium-and-up} {
	h5{
		font-size: 15px;
	}
	p{
		font-size: 12px
	}
}

// @media #{$medium-and-down} {
// 	h5{

// 	}
// 	p{

// 	}
// }
@media #{$large-and-up} {
	h5{
	   font-size: 20px;
	}
	p{
		font-size: 15px
	}
}

.margin-bottom{
  margin-bottom: 2%;
}

footer.page-footer {
  margin-top: 0 !important;
}

.parallax-container:after{
  content: "";
  width: 100%;
  height: 100px;
  margin-top: -100px;
  position: absolute;
  z-index: 2;
  opacity: 0.2;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 78%, rgba(0,0,0,0) 86%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 78%,rgba(0,0,0,0) 86%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 78%,rgba(0,0,0,0) 86%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.video-container{
  border: 20px solid rgba(255,255,255,1);
}

.bundle{
  margin-top: 20px;
}

#preorders,
#socials,
#contest,
#video{
  h4{
    margin-top: 4% !important;
    margin-bottom: 4% !important;
  }
}

.available{
 h3{
  font-size: 22px;
 }
}

// Parallax fallback

@media #{$medium-and-down} {
  .parallax{
    display: none;
  }
  #header:before,
  #preorders:before,
  #contest:before,
  #video:before,
  #socials:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    z-index: 0;
    opacity: 0.6;
    background-repeat: no-repeat;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
  #header:before{
    background-image: url("https://s3.amazonaws.com/myfangate.com/realfriends16/floorbg.jpg");
  }
  #preorders:before{
    background-image: url("https://s3.amazonaws.com/myfangate.com/realfriends16/doorhandle.jpg");
  }
  #contest:before{
    background-image: url("https://s3.amazonaws.com/myfangate.com/realfriends16/RF_Hallway2.jpg");
  }
  #video:before{
    background-image: url("https://s3.amazonaws.com/myfangate.com/realfriends16/globe.jpg");
  }
  #socials:before{
    background-image: url("https://s3.amazonaws.com/myfangate.com/realfriends16/lamp.jpg");
  }
}

/* label color */
input{
  color: #fff !important;
}

.input-field label {
 color: #fff;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: #fff;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #fff;
 box-shadow: 0 1px 0 0 #fff;
 color: #fff;
}
/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid #fff;
 box-shadow: 0 1px 0 0 #fff;
 color: #fff;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid #fff;
 box-shadow: 0 1px 0 0 #fff;
 color: #fff
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #fff;
}

[type="checkbox"].filled-in:checked+label:after {
  border: 2px solid #fff;
  background-color: #fff;
}

[type="checkbox"].filled-in:checked+label:before {
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}

[type="checkbox"].filled-in:not(:checked)+label:after {
  border: 2px solid #fff;
}

.contest{
  background-color: rgba(0,0,0,0.2);
  border-radius: 5px;
  padding-top: 30px;
}

.rf-btn{
  background-color: transparent;
  font-family: 'helveticabold';
  border: 5px solid white;
}

.rf-btn{
  background-color: transparent;
  font-family: 'helveticabold';
  border: 5px solid white;
  line-height: 45px !important;
}

.rf-btn:hover{
  background-color: white;
  font-family: 'helveticabold';
  color: black;
  border: 5px solid white;
  line-height: 45px !important;
}

#hidden_iframe{
  display: none;
}
