<div class="row margin-bottom">
	<div class="col s12">
		<h4 class="uppercase white-text center-align text-shadow">After your pre-order, enter here!</h4>
	</div>
  <div class="col s12 m6 push-m6">
    <img class="full-w" src="https://s3.amazonaws.com/myfangate.com/realfriends16/guitarprize.png">
  </div>
	<div class="col s12 pull-m6 m6">
		<img class="full-w" src="<%= lorem.image('800x800') %>">
	</div>
</div>
