<div class="row">
	<div class="col s12 center-align">
		<h5 class="uppercase white-text cta">Pre-Order "The Home Inside My Head" to win exclusive prizes from</h5>
	</div>
</div>
<div class="row margin-bottom">
	<div class="col s12 m10 offset-m1 center-align">
		<img class="full-w logo" src="https://s3.amazonaws.com/myfangate.com/realfriends16/rf-logo-white-shadow.png">
	</div>
</div>
<div class="row available margin-bottom">
	<div class="col s6 offset-s3 center-align">
		<img class="full-w" src="https://s3.amazonaws.com/myfangate.com/realfriends16/rf-album-logo.png">
		<h5 class="uppercase white-text text-shadow"> Available May 27</h5>
	</div>
</div>
<!-- <div class="row margin-bottom">
	<div class="col s12 m10 offset-m1">
		<div class="video-container z-depth-3">
			<iframe width="960" height="540" src="https://www.youtube.com/embed/zWq027KIPuM?rel=0" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div> -->
<!-- <div class="row polaroid hide-on-small-only">
	<div class="col s10 offset-s1 m6 offset-m3 polaroid-wrapper">
		<img class="full-w z-depth-3 polaroid-img" src="https://s3.amazonaws.com/myfangate.com/realfriends16/polaroid.jpg">
	</div>
</div> -->
<!-- <div class="row album-mini">
	<div class="col s12 m3 offset-m1">
		<img class="full-w z-depth-3" src="https://s3.amazonaws.com/myfangate.com/realfriends16/RF_THIMH_CoverPhoto.jpg">
	</div>
	<div class="col s12 m7 center-align">
		<div class="row  available-now valign-wrapper">
			<div class="valign">
				<img class="full-w" src="https://s3.amazonaws.com/myfangate.com/realfriends16/rf-album-logo.png">
				<h3 class="uppercase white-text text-shadow"> Available May 27</h3>
			</div>
		</div>
	</div>
</div> -->
