<div class="row margin-bottom">
	<div class="col s12 m8 offset-m2 center-align">
		<h4 class="uppercase white-text text-shadow">Pre-Order the album to be entered to win this week's prize!</h4>
		<h5 class="uppercase white-text text-shadow">Select a pre-order</h5>
	</div>
	<div class="col s6 m4">
		<a href="http://realfriends.merchnow.com/" target="_blank">
			<img class="full-w hoverable bundle" src="https://s3.amazonaws.com/myfangate.com/realfriends16/bundle1.jpg">
		</a>
	</div>
	<div class="col s6 m4">
		<a href="http://realfriends.merchnow.com/" target="_blank">
			<img class="full-w hoverable bundle" src="https://s3.amazonaws.com/myfangate.com/realfriends16/bundle2.jpg">
		</a>
	</div>
	<div class="col s6 m4">
		<a href="http://realfriends.merchnow.com/" target="_blank">
			<img class="full-w hoverable bundle" src="https://s3.amazonaws.com/myfangate.com/realfriends16/bundle3.jpg">
		</a>
	</div>
	<div class="col s6 m4">
		<a href="http://realfriends.merchnow.com/" target="_blank">
			<img class="full-w hoverable bundle" src="https://s3.amazonaws.com/myfangate.com/realfriends16/bundle4.jpg">
		</a>
	</div>
	<div class="col s6 m4">
		<a href="http://realfriends.merchnow.com/" target="_blank">
			<img class="full-w hoverable bundle" src="https://s3.amazonaws.com/myfangate.com/realfriends16/bundle5.jpg">
		</a>
	</div>
	<div class="col s6 m4">
		<a href="http://realfriends.merchnow.com/" target="_blank">
			<img class="full-w hoverable bundle" src="https://s3.amazonaws.com/myfangate.com/realfriends16/bundle6.jpg">
		</a>
	</div>
</div>
