<div class="row margin-bottom">
	<div class="col s12 center-align">
		<h4 class="uppercase white-text center-align text-shadow">Join the #homeinside Community</h4>
	</div>
  <div class="col s12 m8 offset-m2 l5 offset-l1">
    <a class="twitter-timeline" data-chrome="noheader nofooter transparent" href="https://twitter.com/hashtag/HOMEINSIDE" data-widget-id="715970907261517824">#HOMEINSIDE Tweets</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
  <div class="col s12 m10 offset-m1 l5">
    <script src="https://snapwidget.com/js/snapwidget.js"></script>
    <iframe src="https://snapwidget.com/p/widget/?id=QWoOpiCq5i&t=697" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
  </div>
</div>
