<div class ="row">
	<h5 class="uppercase white-text center-align">Watch the new video for "colder quicker"</h5>
	<div class="col s12">
		<img class="full-w" src="<%= lorem.image('1920x1080') %>">
	</div>
</div>	