<div class ="row">
	<div class="col s12">
		<h5 class="uppercase white-text center-align">Watch the new video for "colder quicker"</h5>
	</div>
	<div class="col s12">
		<div class="video-container">
			<iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
		</div>	
	</div>
</div>	