<div class ="row margin-bottom">
	<div class="col s12">
		<h4 class="uppercase white-text center-align text-shadow">Watch the new video for "colder quicker"</h4>
	</div>
	<div class="col s12 m10 offset-m1">
		<div class="video-container z-depth-3">
			<iframe width="960" height="540" src="https://www.youtube.com/embed/zWq027KIPuM?rel=0" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>
