<div class ="row margin-bottom">
	<div class="col s12">
		<h4 class="uppercase white-text center-align text-shadow">Watch the new music video for "Scared To Be Alone"</h4>
	</div>
	<div class="col s12 m10 offset-m1">
		<div class="video-container z-depth-3">
      <iframe width="854" height="480" src="https://www.youtube.com/embed/67u-r9xuAuo" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>

