<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <div class="row">
          <div class="col s12">
            <h5 class="white-text">SPONSORS</h5>
          </div>
          <div class="col s12">
            <div class="row">
              <div class="col s12 m3">
                <img class="responsive-img fearless" src="https://s3.amazonaws.com/myfangate.com/fightforsomething/fearless.png">
              </div>
              <div class="col s4 m4">
                <!-- <img class="responsive-img fearless" src="https://s3.amazonaws.com/myfangate.com/realfriends16/lomography.png"> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">SOCIALS</h5>
        <ul>
          <li><a class="white-text" target="_blank" href="https://www.facebook.com/realfriendsband"><i class="fa fa-facebook-square"></i> Facebook</a></li>
          <li><a class="white-text" target="_blank" href="https://twitter.com/realfriendsband"><i class="fa fa-twitter-square"></i> Twitter</a></li>
          <li><a class="white-text" target="_blank" href="https://www.instagram.com/realfriendsband"><i class="fa fa-instagram"></i> Instagram</a></li>
          <li><a class="white-text" target="_blank" href="https://www.youtube.com/user/realfriendsband"><i class="fa fa-youtube-square"></i> YouTube</a></li>
          <li><a class="white-text" target="_blank" href="https://open.spotify.com/artist/6dEtLwgmSI0hmfwTSjy8cw"><i class="fa fa-spotify"></i> Spotify</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2014 Fearless Records
    </div>
  </div>
</footer>
